#wpc-catalogue-wrapper {
}

#wpc-catalogue-wrapper h4 {
    font-size: 20px;
    color: #999999;
    font-weight: normal;
    margin-bottom: 20px;
}

#wpc-col-1 {
      width:219px;
      float:left;
      margin: 0 28px 0 0;
      line-height: inherit;
}

#wpc-col-2 {
    width: 713px;
    float: left;
}

.wpc-product {
    border-bottom: #C7C7C7 1px solid;
    float: left;
    margin: 0 15px 27px 0;
}

.wpc-img {
    border: 5px solid #dcdbdb;
    margin-bottom: 10px;
    background: #dcdbdb;
    font-size: 0;
}

.wpc-next-prev {
}

.wpc-next-prev a[rel="next"] {
    float: right;
}

.wpc-img:hover {
    border: 5px solid #724e3f;
}

.wpc-img img {
    border-radius: 0;
    box-shadow: none;
    height: 110%;
}

.wpc-title {
    color: #15845e;
    padding: 0 7px 20px;
    line-height: inherit;
    margin: 0;
}

.wpc-title a {
    font-size: 14px;
    color: #333333;
    text-decoration: none;
    display: block;
    background: url(images/arrow.png) no-repeat right 5px;
}

.wpc-title a:hover {
    color: #15845e;
    background-position: right -18px;
}

.wpc-title span {
    float: right;
}

.wpc-paginations {
    clear: both;
    padding: 0 0 0 7px;
}

.product-price {
    float: right;
}

.wpc-paginations a {
    display: block;
    width: 30px;
    height: 30px;
    background: #9f9f9f;
    float: left;
    text-align: center;
    line-height: 30px;
    color: #FFF !important;
    text-decoration: none;
    margin: 0 2px;
}

.wpc-paginations a:visited {
    color: #fff !important;
}

.wpc-paginations .wpc_page_last_dot {
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 4px 0;
}

.wpc_page_link_disabled {
    color: #fff;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
    width: 30px;
}

.wpc_page_link_disabled {
    background-color: #724e3f;
}

.wpc-paginations a.wpc_page_link_previous {
    color: #fff;
    display: block;
    float: left;
    line-height: 30px;
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
    background-color: #9f9f9f;
    text-transform: capitalize;
    width: 76px;
}

.wpc-paginations a.wpc_page_link_next {
    color: #fff;
    display: block;
    float: left;
    line-height: 30px;
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
    background-color: #9f9f9f;
    text-transform: capitalize;
    width: 50px;
}

.product-img-view {
    float: left;
    border: #dcdbdb 5px solid;
    margin: 0 14px 0 0;
    overflow: hidden;
    /*display: inline-block !important;*/
    max-width: 520px;
}
.wpc-product-img {
    width: 161px;
    float: right;
}

.new-prdct-img {
    border: #dcdbdb 5px solid;
    margin-bottom: 8px;
    font-size: 0;
    line-height: 0;
}

.new-prdct-img img {
    cursor: pointer;
}

#wpc-product-gallery {
    padding: 0 0 20px;
}

.clear {
    clear: both;
    line-height: 0;
    font-size: 0;
}

.wp-catalogue-bradcrumb {
    margin: 20px 0;
}

.entry-content {
    line-height: inherit !important;
}

.wp-catalogue-breadcrumb {
    padding: 0 0 20px;
}

.entry-content img {
    max-width: inherit !important; /* Fluid images for posts, comments, and widgets */
}

@media screen and (max-width: 900px){
    #wpc-col-2 {
        width: 96%;
        float: none;
        clear:both;
        margin: 0 auto
    }
    
    .product-img-view {
        width: 99%;
        float: none;
        clear: both;
        margin: 0 auto;
        border: none;
    }
    .wpc-product img, .product-img-view img, .wpc-product-img img{
        margin: 0 auto !important;
    }
    .wpc-product-imgs {
        width: 98%;
        float: none;
        clear: both;
        margin: 0 auto;
    }
    .wpc-product-imgs .slick-slide img {
        margin: 0 auto;
    }
}
.wpc-accordion {
    background: #724e3f;
}
/* ACCORDION */
/* First Level */
.wpc-accordion ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #3e2b22
}

.wpc-accordion ul li {
    border-top: 1px solid #3e2b22;
}

.wpc-accordion ul li a {
    color: #FFFFFF;
    display: block;
    font-size: 1.1em;
    line-height: normal;
    padding: 12px 20px;
    text-decoration: none;
}

.wpc-accordion ul li a:hover {
    background: #333;
    text-decoration: none;
}

/* Second Level */
.wpc-accordion ul ul {
    border-bottom: none
}

.wpc-accordion ul ul li {
    border-top: 1px solid #222;
    background: #5d3d2f;
}

.wpc-accordion ul ul li a {
    color: #FFFFFF;
    display: block;
    font-size: 1em;
    line-height: normal;
    padding: 0.5em 1em 0.5em 2.5em;
}

.wpc-accordion ul ul li a:hover {
    background: #333;
}

/* Third Level */
.wpc-accordion ul ul ul {
    border-top: 1px solid #222;
}

.wpc-accordion ul ul ul li {
    border: none;
}

.wpc-accordion ul ul ul li a {
    padding-left: 3.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

/* Accordion Button */
ul li.has-subnav .accordion-btn {
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
    .wpc-accordion {
        width: 40%;
    }
}

@media screen and (max-width: 700px) {
    .wpc-accordion {
        width: 100%;
    }
}
#wpc-product-gallery .slick-vertical .slick-slide{
      /*display: inline-block;*/
      /*margin-right: 0;*/
}

#wpc-product-gallery .wpc-product-imgs .slick-slide img {
      /*display: inline-block !important;*/
      /*margin-right: 0px !important;*/
}